* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, Times New Roman, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.header {
    float: left;
    width: 100%;
    background-color: cyan;

}
.container{
    float: none;
    margin: auto;
    width: 1200px;
}

.main {
    float: left;
    width: 100%;
}

.footer {
    float: left;
    width: 100%;
}

.content {
    float: left;
    width: 66.6%;
}

.sidebar {
    float: left;
    width: 33.33%;
}

/*Het phan dinh nghia layout*/
.logo {
    font-size: 30px;
    float: left;
}

.menu {
    float: right;
}
.menu li{
    float: left;
    margin-left: 10px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 17px;
    line-height: 50px;
}

.sidebar ul li {
    list-style: none;
}